/* css styles */
body {
  background-color: #d5be9a;
  color: #290808;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
a {
  color: #000000;
}

a:hover {
  color: #6b4529;
}

a:visited {
  color: #f29122;
}